.next{
	background-color: #006997;
}
.psdProtect-top{
	background-color: #006997;
	height: 90px;
	line-height: 90px;
}
.psdProtect-top .psdProtect-top-center{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-left{
	float: left;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-left img{
	vertical-align: text-bottom;
	margin-right: 10px;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-left div{
	font-size: 38px;
	color: #fff;
	display: inline-block;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-right{
	float: right;
	cursor: pointer;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-right img{
	vertical-align: baseline;
	margin-left: 5px;
}
.psdProtect-top .psdProtect-top-center .psdProtect-top-right div{
	color: #fff;
	font-size: 18px;
	display: inline-block;
}
.psdProtect-con{
	padding-top: 100px;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.psdProtect-con .psdProtect-con-title{
	display: inline-block;
	margin-bottom: 80px;
}
.psdProtect-con .psdProtect-con-title .title-line{
	width: 350px;
	height: 1px;
	background-color: #ddd;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: super;
}
.psdProtect-con .psdProtect-con-title .title-one{
	display: inline-block;
}
.psdProtect-con .psdProtect-con-title .title-one div{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	background-color: #999;
	margin-right: 10px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.psdProtect-con .psdProtect-con-title .title-one p{
	display: inline-block;
	color: #999999;
	font-weight: bold;
	font-size: 18px;
}
.psdProtect-con .psdProtect-con-title .title-one.curr div{
	background-color: #006997;
}
.psdProtect-con .psdProtect-con-title .title-one.curr p{
	color:#006997;
}
